@font-face {
  font-family: "RG-SpaciousBook";
  font-weight: 400;
  src: url("@/assets/fonts/RG-SpaciousBook.woff2") format("woff2"),
    url("@/assets/fonts/RG-SpaciousBook.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("@/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("@/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("@/assets/fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Corinthia";
  font-weight: 400;
  src: url("@/assets/fonts/Corinthia-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Corinthia-Regular.woff") format("woff");
}
